@page "/"
@using ChartJs.Blazor.PieChart
@using ChartJs.Blazor.Util

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Chart Config="_pieConfig"></Chart>

@code {
    private PieConfig _pieConfig;

    protected override void OnInitialized()
    {
        ConfigurePieConfig();
        StateHasChanged();
    }

    private void ConfigurePieConfig()
    {
        _pieConfig = new PieConfig();

        _pieConfig.Options = new PieOptions()
        {
            Responsive = true,
            Title = new OptionsTitle()
            {
                Display = true,
                Text = "Title Of My Chart"
            }
        };

        foreach (var party in new[] { "Party 1", "Party 2", "Party 3" })
        {
            _pieConfig.Data.Labels.Add(party);
        }

        var dataset = new PieDataset<int>(new[] {35, 50, 15 }) 
        {
            BackgroundColor = new[] { ColorUtil.ColorHexString(145, 63,156), ColorUtil.ColorHexString(255,174,173), ColorUtil.ColorHexString(165,24,46) }
        };
        
        _pieConfig.Data.Datasets.Add(dataset);
    }
}