@inherits LayoutComponentBase
<div class="d-flex flex-column min-vh-100 bg-dark text-light">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="svg/logo.svg" alt="Логотип" style="height: 6rem !important; width: 30rem !important;" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link" href="/">Главная</a>
                        <a class="nav-link" href="/schemes">Схемы</a>
                        <a class="nav-link" href="/about">О проекте</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="flex-fill">
        <article class="container py-4">
            @Body
        </article>
    </main>
    
    <footer class="bg-dark text-secondary text-center py-3 mt-auto">
        © 2025 Учебная практика. Все права защищены.
    </footer>

</div>