@page "/About"
<section class="container py-5">
    <h1 class="display-4 fw-bold mb-4">О проекте</h1>
    <p class="fs-5 mb-3">
        Этот проект создан в рамках учебной практики для демонстрации аналитических схем и диаграмм.
        Здесь собраны схемы BI, я собираю их их текстового файла, данные о продажах опеределенных товаров на Ozon и структурирую их в MONGO.
    </p>
    <p class="fs-5 mb-3">
        Цель проекта - научиться пользоваться Blazor и рисовать схемы для аналитики. Собирая данные и записывая их в базу данных
    </p>
    <p class="fs-5 mb-3">
        Сайт разработан с использованием <strong>Blazor</strong>, <strong>Bootstrap</strong>, <strong>ASP.NET Core</strong>, <strong>MongoDb</strong> и также я здесь использовал
        библиотеку <strong>MediatR</strong>, но она мне показалось ненужной, я думаю ее используют в больших проектах с большими запросами в базу.
        Сайт полностью адаптивный.
    </p>
    
    <div class="mt-5">
        <h2 class="fw-bold mb-3">Контакты и обратная связь</h2>
        <p class="fs-5">
            <i class="bi bi-envelope-fill"></i> 
            По вопросам и предложениям вы можете написать нам на 
            <a href="mailto:saltanhayrliev2006@gmail.com" class="text-info">saltanhayrliev2006@gmail.com</a>.
        </p>
        <p class="fs-5">
            <i class="bi bi-telegram"></i> 
            Телеграмм - <a href="https://t.me/angens3" class="text-info">angens</a>
        </p>
        <p class="fs-5">
            <i class="bi bi-github"></i> 
            GitHub проекта - 
            <a href="https://github.com/jazerQ/BIComponents" class="text-info" target="_blank">BIComponents</a>
        </p>
    </div>
</section>