@page "/Example"
@using Application
@using MediatR
@inject IMediator Mediator

<h3>Example</h3>
<div class="container">
    <div class="row">
        <p>@_randomNumber</p>
    </div>
    <div class="row">
        <button class="btn btn-primary" @onclick="SetNewRandomValue">Новое число</button>
        <button class="btn btn-primary" @onclick="SetNewRandomValueWithoutMediatR">new Number without MediatR</button>
    </div>
</div>
@code {
    private int _randomNumber = 0;

    public async Task SetNewRandomValue()
    {
        _randomNumber = await Mediator.Send(new ExampleQuery());
        Console.WriteLine(_randomNumber);
        StateHasChanged();
    }

    public void SetNewRandomValueWithoutMediatR()
    {
        _randomNumber = new Random().Next(1,100);
    }

}