@page "/"
@using ChartJs.Blazor.PieChart


<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <h3>Загрузка файлов</h3>
    
    <div class="mb-3">
        <label for="formFile" class="form-label">Выберите файл</label>
        <InputFile id="formFile" OnChange="HandleSelected" class="form-control" multiple/>
    </div>
    
    <button class="btn btn-primary" @onclick="UploadFiles" disabled="@(!files.Any())">
        Загрузить
    </button>
    
    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-info mt-3">@message</div>
    }
</div>

@code {
    private List<IBrowserFile> files = new();
    private string? message;
    private HttpClient _client = new HttpClient();
    
    
    private void HandleSelected(InputFileChangeEventArgs e)
    {
        files = e.GetMultipleFiles().ToList();
        message = $"{files.Count()} файлов выбрано";
    }

    private async Task UploadFiles()
    {
        message = "Файлы загружены";
    }

}