@page "/Schemes"

<section class="container py-5">
    <h2 class="display-5 fw-bold mb-4 text-center">Мои аналитические схемы</h2>

    <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-light h-100 shadow-sm border-secondary">
                <img src="https://media.lordicon.com/icons/wired/lineal/158-pie-chart.gif" 
                     class="card-img-top" 
                     alt="Схема 1" 
                     style="height:400px; object-fit:contain; background-color:#1e1e1e; padding:1rem; border-radius:8px;">

                <div class="card-body">
                    <h5 class="card-title">Pie Chart - круговая диаграмма</h5>
                    <p class="card-text text-secondary">
                        Эта схема показывает какие категории имеют большее количество товаров
                    </p>
                    <a href="/PieChart/Count" class="view-btn"><i class="bi bi-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-light h-100 shadow-sm border-secondary">
                <img src="https://datavizproject.com/wp-content/uploads/types/Bar-Chart-Horizontal.png" 
                     class="card-img-top" 
                     alt="Схема 1" 
                     style="height:400px; object-fit:contain; background-color:#1e1e1e; padding:1rem; border-radius:8px;">

                <div class="card-body">
                    <h5 class="card-title">Horizontal BarChart - горизонтальная столбчатая диаграмма</h5>
                    <p class="card-text text-secondary">
                        Эта схема показывает Топ лучших товаров
                    </p>
                    <a href="/Horizontal" class="view-btn"><i class="bi bi-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-light h-100 shadow-sm border-secondary">
                <img src="https://datavizproject.com/wp-content/uploads/types/Bar-Chart-Vertical.png" 
                     class="card-img-top" 
                     alt="Схема 1" 
                     style="height:400px; object-fit:contain; background-color:#1e1e1e; padding:1rem; border-radius:8px;">
                
                <div class="card-body">
                    <h5 class="card-title">Simple BarChart - столбчатая диаграмма</h5>
                    <p class="card-text text-secondary">
                        Эта схема - обычная столбчатая диграмма, показывает топ худших товаров
                    </p>
                    <a href="/Simple" class="view-btn"><i class="bi bi-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 my-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-light h-100 shadow-sm border-secondary">
                <img src="https://datatricks.co.uk/wp-content/uploads/2020/07/scatter-chart-d3-animated.gif" 
                     class="card-img-top" 
                     alt="Схема 1" 
                     style="height:400px; object-fit:contain; background-color:#1e1e1e; padding:1rem; border-radius:8px;">

                <div class="card-body">
                    <h5 class="card-title">Scatter Chart - точечная диаграмма</h5>
                    <p class="card-text text-secondary">
                        Эта схема показывает зависимость количества комментариев от оценки
                    </p>
                    <a href="/Scatter" class="view-btn"><i class="bi bi-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-light h-100 shadow-sm border-secondary">
                <img src="https://www.spotfire.com/content/dam/spotfire/images/graphics/inforgraphics/scatter-chart-example.svg" 
                     class="card-img-top" 
                     alt="Схема 1" 
                     style="height:400px; object-fit:contain; background-color:#1e1e1e; padding:1rem; border-radius:8px;">

                <div class="card-body">
                    <h5 class="card-title">Scatter Chart - Точечная диаграмма</h5>
                    <p class="card-text text-secondary">
                        Эта схема показывает зависимость оценки товара от цены
                    </p>
                    <a href="/RatingAndCosts" class="view-btn"><i class="bi bi-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card bg-dark text-light h-100 shadow-sm border-secondary">
                <img src="https://www.jaspersoft.com/content/dam/jaspersoft/images/graphics/infographics/line-chart-example.svg" 
                     class="card-img-top" 
                     alt="Схема 1" 
                     style="height:400px; object-fit:contain; background-color:#1e1e1e; padding:1rem; border-radius:8px;">
                
                <div class="card-body">
                    <h5 class="card-title">Linear Chart - линейный график</h5>
                    <p class="card-text text-secondary">
                        Эта схема - Линейный график, который показывает зависимость количества вопросов от цены
                    </p>
                    <a href="/Linear" class="view-btn"><i class="bi bi-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    
}